<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <commands>
      <command name="item:copyversiontoclipboard" type="ParTech.Modules.CopyVersion.Commands.CopyVersionToClipboard, ParTech.Modules.CopyVersion" />
      <command name="item:pasteversionfromclipboard" type="ParTech.Modules.CopyVersion.Commands.PasteVersionFromClipboard, ParTech.Modules.CopyVersion" />
      <command name="item:copyversionto" type="ParTech.Modules.CopyVersion.Commands.CopyVersionTo, ParTech.Modules.CopyVersion" />
    </commands>

    <processors>
      <uiCopyVersionTo>
        <processor mode="on" type="Sitecore.Shell.Framework.Pipelines.CopyItems, Sitecore.Kernel" method="GetDestination" />
        <processor mode="on" type="Sitecore.Shell.Framework.Pipelines.CopyItems, Sitecore.Kernel" method="CheckDestination" />
        <processor mode="on" type="Sitecore.Shell.Framework.Pipelines.CopyItems, Sitecore.Kernel" method="CheckLanguage" />
        <processor mode="on" type="ParTech.Modules.CopyVersion.Pipelines.CopyVersionTo, ParTech.Modules.CopyVersion" method="Execute" />
      </uiCopyVersionTo>
    </processors>
    
  </sitecore>
</configuration>